# 오늘의 상식

* 엔트로픽 Claude 팀 프로젝트 기능

# 조건문 실습

1. 총 금액 계산

In [7]:
def price(thing):
    if thing < 10:
        price = 100
        thing_price = thing * price
    elif 10 <= thing < 30:
        price = 95
        thing_price = thing * price
    elif 30 <= thing < 100:
        price = 90
        thing_price = thing * price
    elif 100 <= thing:
        price = 85
        thing_price = thing * price
    return f"총 금액은 {format(thing_price, ',')}원입니다."

how_many = int(input("상품의 개수: "))

print(price(how_many))

상품의 개수: 123
총 금액은 10,455원입니다.

In [9]:
'''
class TestPriceFunction(unittest.TestCase):
    def test_price_1(self):
        self.assertEqual(price(1), 100)

if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)
'''

# 실행 미리 확인 코드

"\nclass TestPriceFunction(unittest.TestCase):\n    def test_price_1(self):\n        self.assertEqual(price(1), 100)\n\nif __name__ == '__main__':\n    unittest.main(argv=['first-arg-is-ignored'], exit=False)\n"

# 반복문 for

for 변수명 in 순회 가능한 객체(iterable):

In [19]:
s = '12345'
result = 0
for i in s:
    result += int(i)

print(result)

15

In [21]:
s = '010-7386-3406'
result = ''

for i in s:
    if i.isdigit():
        result += i

print(result)

01073863406

In [29]:
list_i = []
for i in range(1,10,2):
    list_i.append(i)

print(f'홀수를 출력합니다. {list_i}')

홀수를 출력합니다. [1, 3, 5, 7, 9]

In [31]:
# 반복문 기초 1 리스트 / 튜플 / 함수 / 계산식

# 반복할게 많을 경우 print는 최소화해서 테스트한다.
# 시간 관리를 해서, 얼마걸리는지 100~1000정도 테스트를 하고

from time import process_time

start = process_time()

for i in [1,3,5,7,9]:
  print(f"홀수를 출력합니다. {i}")

end = process_time()
print(f"프로그램이 실행되는데 {end-start} 초가 걸렸습니다.")

홀수를 출력합니다. 1
홀수를 출력합니다. 3
홀수를 출력합니다. 5
홀수를 출력합니다. 7
홀수를 출력합니다. 9
프로그램이 실행되는데 0.0031286290000025474 초가 걸렸습니다.

In [32]:
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    print(i[0] + i[1])

[1, 2]
3
[10, 20]
30
[100, 200]
300

In [33]:
# 언패킹(unpacking)
for i, j in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    print(j)
    print(i, j)

1
2
1 2
10
20
10 20
100
200
100 200

In [37]:
# i
program1 = ['python', 'pandas', 'numpy']

for i in program1:
    print(f"프로그램은 {i}입니다.")

# i, j
program2 = [['python', 1], ['pandas', 2], ['numpy', 3]]

for i, j in program2:
    print(f"프로그램은 {i}입니다. 순위는 {j} 입니다.")

프로그램은 python입니다.
프로그램은 pandas입니다.
프로그램은 numpy입니다.
프로그램은 python입니다. 순위는 1 입니다.
프로그램은 pandas입니다. 순위는 2 입니다.
프로그램은 numpy입니다. 순위는 3 입니다.

In [40]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}
print(단어_사전.items())

for key, value in 단어_사전.items():
    print(f'{key} : {value}')

dict_items([('하나', 'one'), ('둘', 'two'), ('셋', 'three')])
하나 : one
둘 : two
셋 : three

In [43]:
result = 0
for i in range(0, 11, 2):
    result += i
    print(i)
print(result)

0
2
4
6
8
10
30

In [64]:
from time import process_time

start = process_time()

result = 0
for i in range(50001):
    if i % 2 == 0:
        result += i
print(result)

end = process_time()
print(f"프로그램이 실행되는데 {end-start} 초가 걸렸습니다.")

625025000
프로그램이 실행되는데 0.009897219999999152 초가 걸렸습니다.

In [63]:
from time import process_time

start = process_time()

result = 0
for i in range(0, 50001, 2):
    result += i
print(result)

end = process_time()
print(f"프로그램이 실행되는데 {end-start} 초가 걸렸습니다.")

625025000
프로그램이 실행되는데 0.003636243999999067 초가 걸렸습니다.

In [68]:
start = process_time()

for i in range(2, 10):
    print(f"---- {i}단 ----")
    for j in range(1, 10):
        print(f'{i} x {j} = {i*j}')

end = process_time()
print(f"프로그램이 실행되는데 {end-start} 초가 걸렸습니다.")

---- 2단 ----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---- 3단 ----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---- 4단 ----
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---- 5단 ----
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---- 6단 ----
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---- 7단 ----
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---- 8단 ----
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---- 9단 ----
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
프로그램이 실행되는데 0.03172796899999497 초가 걸렸습니다.

In [67]:
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(i)
        print(j)

[1, 2]
1
[1, 2]
2
[10, 20]
10
[10, 20]
20
[100, 200]
100
[100, 200]
200

## 컴프리헨션(comprehension)

In [77]:
# 리스트 컴프리헨션

x = []  # 비어있는 리스트

for i in range(1, 10):
    x.append(i)

print(x)    # 출력 값: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 한문장으로 가능, 리스트 컴프리헨션
y = [i for i in range(1, 10)]
print(y)    # 출력 값: [1, 2, 3, 4, 5, 6, 7, 8, 9]

z = [i * 2 for i in range(1, 10) if i % 2 == 0 or i % 3 == 0]
print(z)    # 출력 값: [4, 6, 8, 12, 16, 18]

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 6, 8, 12, 16, 18]

In [79]:
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result)
# 출력 값: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수'], 앞에 조건문 가

result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']
['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [76]:
# 딕셔너리 컴프리헨션

In [84]:
def my_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(my_sum([1, 2, 3, 4, 5]))

15

In [96]:
def my_sum(numbers):
    my_sum1 = sum([i for i in numbers if i % 2 != 0])
    return my_sum1

print(my_sum([1, 2, 3, 4 ,5]))

9

In [100]:
z_list = []
z_list = [f'{i} × {j} = {i*j}'for i in range(2, 5) for i in range(1, 5)]

z_list

['1 × 9 = 9',
 '2 × 9 = 18',
 '3 × 9 = 27',
 '4 × 9 = 36',
 '1 × 9 = 9',
 '2 × 9 = 18',
 '3 × 9 = 27',
 '4 × 9 = 36',
 '1 × 9 = 9',
 '2 × 9 = 18',
 '3 × 9 = 27',
 '4 × 9 = 36']

In [102]:
def sumthingFunction(i): # 1
    if i % 100 == 0:
        return i
    else:
        return 0


l = [100, 200, 300, 101, 202, 303] # 2
l = [sumthingFunction(i) for i in l] # 3
print(l)
# 출력 값: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [103]:
# 딕셔너리 컴프리헨션: 리스트와 달리 중괄호 사용
# 앞 요소도 키: 값 형태여야 함

even_squares = {x: x**2 for x in range(1, 10) if x % 2 == 0}

print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [105]:
# 복합 자료형 순회
for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

'''
출력 값:
a b c
d e f
g h i
'''

a b c
d e f
g h i

'\n출력 값:\na b c\nd e f\ng h i\n'

In [106]:
# enumerate를 사용한 순회

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수, 100):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

# 숫자가 앞에 할당됨

(100, '레미제라블')
(101, '뷰티인사이트')
(102, '매트릭스')
(103, '인셉션')
(104, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

## 반복문 실습

In [110]:
for a in range(8):
    a *= (a-1)
print(a)    # 출력 값: 42

for a in range(8):
    a *= 1
print(a)    # 출력 값: 1
# 전역변수는 다음번에 초기화

42
7

In [117]:
test = '5'

for i in range(int(test)):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [115]:
list1 = [1,2]
list2 = [3,4]

for i in list1:
    for j in list2:
        result = i + j

print(result)

6

In [118]:
list1 = [1,2]
list2 = [3,4]
result = []
for i in list1:
    for j in list2:
        result.append(i + j)

print(result)

[4, 5, 5, 6]

# while 문

조건이 참인 동안에 계속 반복됨

문제를 맞출때까지 반복을 해야 하는 경우
ex) 비밀번호

```
while 구문:
    수행할 문장

```

In [121]:
# 기본 예제

a = 1
while a < 10:
    a += 1

print(a)

10

In [138]:
# while 문을 사용하여 로또 번호 만들기
import random

a = 1
lotto = []
while len(lotto) < 6:
    numbers = lotto.append(random.choice(range(1, 46)))

    if numbers not in lotto:
        lotto.append(numbers)
        a += 1

print(lotto)

[18, None, 15, 25, 11, 30]

In [141]:
import random
answer = random.randint(1, 100)
while True:
    user_input = int((input("숫자를 입력하세요: ")))

    if user_input > answer:
        print("Down")
    elif user_input < answer:
        print("Up")
    else:
        print("정답입니다.")
        break

숫자를 입력하세요: 12
Up
숫자를 입력하세요: 56
Down
숫자를 입력하세요: 30
Up
숫자를 입력하세요: 40
Up
숫자를 입력하세요: 50
Down
숫자를 입력하세요: 46
Down
숫자를 입력하세요: 45
Down
숫자를 입력하세요: 44
Down
숫자를 입력하세요: 42
정답입니다.

In [143]:
# while 문을 이용한 구구단
i = 2
while i < 10:
    j = 1
    while j < 10:
        print(f"{i} x {j} = {i*j}")
        j += 1
    i += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# break, continue, pass

break 문은 반복문(while, for)을 실행 중에 중단하고 나오기 위해 사용되는 명령어

**주의해야 할 점은 이 break 구문은 바로 위의 반복문(for나 while)만 탈출**

In [146]:
x = 0
l = []
while x < 10:
    if x == 5:
        break
    x += 1
    l.append(x)

print(l)

[1, 2, 3, 4, 5]

In [150]:
x = 0
l = []
while x < 10:
    x += 1
    if x == 5:
        continue
    l.append(x)

# x += 1를 컨티뉴 밑에 쓰면 오류. 왜 그럴까?

print(l)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [153]:
x = 0
l = []
while x < 10:
    x += 1
    if x == 5:
        continue
    l.append(x)

# x += 1를 컨티뉴 밑에 쓰면 오류. 왜 그럴까?
# contiue를 쓰면 다시 처음으로 올라감 따라서 5에서 멈추게 됨

print(l)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

이 코드에서 x += 1 문장이 continue 문장 위에 있어야 하는 이유는 continue 문장이 작동하는 방식 때문입니다.

continue 문장은 루프의 현재 반복을 건너뛰고 루프의 시작점으로 돌아갑니다. 즉, continue 문장 이후의 코드는 실행되지 않습니다.

원래 코드에서는 x가 5일 때 continue 문장이 실행됩니다. 이때 x는 5로 남아 있고, x += 1 문장은 실행되지 않습니다. 따라서 x는 5로 남아 있게 됩니다. 그리고 루프는 다시 시작점으로 돌아가게 됩니다. 하지만 x는 여전히 5이므로 if x == 5 조건이 참이 됩니다. 다시 continue 문장이 실행됩니다. 이러한 경우에 무한 루프가 발생하게 됩니다.

반면에 x += 1 문장을 continue 문장 위에 두면 x는 5일 때 6으로 증가하게 됩니다. 그리고 continue 문장이 실행됩니다. 이때 x는 6이므로 if x == 5 조건이 거짓이 됩니다. 따라서 루프는 정상적으로 진행됩니다.

따라서 x += 1 문장을 continue 문장 위에 두는 것이 중요합니다. 이를 통해 x의 값을 올바르게 증가시키고 루프를 정상적으로 진행할 수 있습니다.

In [151]:
x = 0
l = []
while x < 10:
    x += 1
    if x == 5:
        pass
    l.append(x)

print(l)    # 출력 값: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# continue와 pass가 다른 점

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 반복문 else

반복문 else: '그런 다음'의 의미

```
for 변수 in 범위:
    반복 실행할 코드
else:
    반복문이 모두 실행되어 종료되고 실행할 코드
```

In [154]:
for i in range(100):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')

print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
5 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다.
수고하셨습니다.

In [157]:
for i in range(5):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')

print('수고하셨습니다.')

# 반복문에서 if 조건문에 도달하지 못한다면 else 출력

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

In [161]:
n = 0
while n < 5:
    n += 1
    print(f'{n}번째 실행되고 있습니다.')
    if n == 3:
        break
else:
    print('반복문이 종료되었습니다.')
# 정상적으로 종료되지 않아 else문이 실행되지 않음

1번째 실행되고 있습니다.
2번째 실행되고 있습니다.
3번째 실행되고 있습니다.