# 파이썬 요약 강의

AI 시대에 백엔드 공부

* Python, Pandas, Numpy, SQL 가 얼마나 의미 있을까?
    * 말그대로 기본만 알면 되는 세상
    * 문학적 소질이 있는 분들
    * 분야의 지식이 있는 분들
    * 커뮤니케이션을 잘하는 분들이 경쟁력 있음
    * 자연어로 검증까지 되는 세상이기 때문
    * 요구사항만 상세하게 프롬프트로 작성할 수 있다면 거의 완벽에 가까운 코드가 나오는 시대 (Claude sonnet 출시 이후, Claude project 출시 이후)
    * 이 코드를 짤 수 있느냐가 아니라 서비스를 만드는 프로세스를 익히는 것이 중요

* 백엔드 개발자로서 어떤 역량을 갖춰야 할까요? 또 어떤 것들을 배워야 할까요?
    * 프롬프트, 설계, 갖춰야 하는 문서양식과 방향성, 선임의 경험을 체화할 수 있는 여러 프로젝트를 해보는 것
    * 이제는 노하우, 경험 등도 사실 GPT, Sonnet 코드 안에 녹아 있습니다.

* 10년차 이상 개발자들은 뽑지 않는다. 공고를 냄
    * 이제 주니어급 조금 연차가 있는 시니어든 10년차든 개발 리드급에 퍼포먼스가 나옵니다.
    * 오히려 AI를 활용해서 빠르게 프러덕트를 생산하는 것은 AI를 많이 사용해본 사람이 유리
    * Sonnet이 나오고 나서 시니어 개발자들이 '앞으로 어떻게 해야할 지 모르겠다' 라는 글을 많이 올렸음.

* 프롬프트 시스템을 구축할 때, 어떤 것을 중점적으로 구축해야 할까
    * 회사에 들어가서 업무를 빨리하고 싶다면, 각 업무에 프롬프트 시스템을 구축하는 것을 권합니다.
    * 이때 가장 중요한 것은 질문 -> 답변의 구조가 아니라 질문 -> 라이브러리를 포함한 답변 -> 구현 구조가 좋음
    * 회사 내 디자인 시스템이나 프론트엔드 ,백엔드 코드를 믹싱에 넣으면 더욱 잘 나옴
    * 영어로 학습한 모델이기 때문에 프롬프트는 영어로 작성하는 것이 성능이 더 좋음

* 실제 플레이를 해봐야 함. 실제 해보는 것이 제일 중요.
프러덕트를 많이 만들어 볼 필요가 있음

## 주석

* 주석을 어떻게 작성?
    * 인공지능이 학습할 수 있도록 작성
    * 프롬프트 엔지니어링을 염두해두고 주석을 작성해야 합니다.
    * 코드를 리뷰하는 사람들은 알고리즘이나 코드에 대한 베이스 지식이 충분하다고 가정합니다.
    * 파이썬 주석은 그럼 어떤 주석을 작성?
    * 아웃풋, 파라미터, 리턴 값, 이 소스코드에 대한 요약 등 Doc string을 작성합니다.
    * **Doctring**은 함수나 클래스 내부에 아래와 같은 형식으로 작성됩니다.
    ```
    def fetch_smalltable_rows(table_handle: smalltable.Table) -> Mapping[bytes, tuple[str, ...]]:
    """Fetches rows from a Smalltable.

    Retrieves rows pertaining to the given keys from the Table instance
    represented by table_handle.  String keys will be UTF-8 encoded.

    Args:
        table_handle: An open smalltable.Table instance.
        keys: A sequence of strings representing the key of each table
        row to fetch.  String keys will be UTF-8 encoded.
        require_all_keys: If True only rows with values set for all keys will be
        returned.

    Returns:
        A dict mapping keys to the corresponding table row data
        fetched. Each row is represented as a tuple of strings. For
        example:

        {b'Serak': ('Rigel VII', 'Preparer'),
        b'Zim': ('Irk', 'Invader'),
        b'Lrrr': ('Omicron Persei 8', 'Emperor')}

        Returned keys are always bytes.  If a key from the keys argument is
        missing from the dictionary, then that row was not found in the
        table (and require_all_keys must have been False).

    Raises:
        IOError: An error occurred accessing the smalltable.
    """
```

In [ ]:
# 타입 힌트 / 견고하게 만들 때 사용
def subtract(var_a: int, var_b: int) -> int:
    return var_a - var_b

In [ ]:
x = 10
s = f'''x = {x}'''
print(s)

x = 10

In [ ]:
s = r'hello\nworld'
print(s)    # r은 raw의 약자, 주로 정규표현식에서 사용

hello\nworld

In [ ]:
s = r'''hello world
\n
hello world'''
print(s)    # r은 raw에 약자, 주로 정규표현식에서 많이 사용

hello world
\n
hello world

## 변수

In [ ]:
x = 10
y = x
z = y

x = 20

print(x, y, z)

20 10 10

In [ ]:
hojun = print   # 함수도 변수로 가능

hojun('hello')

hello

In [ ]:
x = 10
def f(x):
    x = 100

f(x)
x   # 지역변수, 전역변수

10

In [ ]:
# 밖에 있는 값을 불러올 순 있지만 변경은 불가능
x = 10
def f():
    y = x + x
    return y
f()

20

In [ ]:
l = [10, 20, 30]
def f(l):
    l.append(40)

# 이거는 append 메서드를 이용하여 더했을 뿐이기 때문에 더해짐

f(l)
l

[10, 20, 30, 40]

### 정수와 사칙연산

In [ ]:
x = - 10
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x ** y)
print(x % y)

-7
-13
-30
-3.3333333333333335
-4
-1000
2

### 실수(float)

In [ ]:
# 부동소수점 문
s = 0
for i in range(10):
    s += 0.1

print(s)

0.9999999999999999

In [ ]:
float("inf")
float("-inf")

-inf

### 문자열(str)

* 인덱싱, 슬라이싱,
* 문자열은 백엔드 개발자에게 가장 중요한 데이터 구조, 클래스의 원리를 파악하는 것이 중요함.
* 데이터 분석가에게 가장 중요한 데이터 구조는 정수와 실수
    * 인공지능은 행렬의 연속이다.

In [ ]:
x = "hello"
y = 'hello'

print(x + y)

hellohello

In [ ]:
# 보통 URL 구조에서 넘어가게 됨
URL = 'https://translate.google.co.kr/?hl=en&tab=rT1&sl=en&tl=ko&op=translate'

URL1 = 'https://translate.google.co.kr/'
URL2 = '?hl=en&tab=rT1&sl=en&tl=ko&op=translate'

# 올바른 표기법. (URL1 URL2)
URL = ("https://translate.google.co.kr/"
    "?hl=en&tab=rT1&sl=en&tl=ko&op=translate")

URL

'https://translate.google.co.kr/?hl=en&tab=rT1&sl=en&tl=ko&op=translate'

In [ ]:
# z.fill()

x = 'hello'
x.zfill(8)

'000hello'

In [ ]:
s = 'hello world'

if s.find('z'): # 큰 문제가 발생!!!!? # 애러도 못잡아요.ㅜㅜ
    print('hello')

hello

In [ ]:
# count, strip
s = '         hello world         '

print(s.count('l'))
print(s.strip(' '))

3
hello world

In [ ]:
# 메서드 체이닝

# 9 -> '01001' -> '  #  #'

bin(9 | 30)[2: ].replace('1', "#").replace('0', " ")

'#####'

In [ ]:
# split(), join()

# isdigit(), 자주 사용
s = "hello2wor3ld4" # s를 순회하면서 숫자를 다 더할때 사용

total = 0
for i in s:
    if i.isdigit():
        total += int(i)

print(total)

9

### 논리 자료형

```py
# and는 곱
# or은 합
x = True    # 1
y = False   # 0

x and y == False
x or y == True
```

In [ ]:
result = []
for i in range(20):
    if i % 2 == 0 and i % 3 == 0:
        result.append(i)

print(result)

[0, 6, 12, 18]

### 형변환

| Built-in Function | 기능 |
|-------------------|------|
| int()             | 정수로 변환 |
| str()             | 문자열로 변환 |
| float()           | 실수로 변환 |
| list()            | 리스트로 변환 |
| tuple()           | 튜플로 변환 |
| dict()            | 딕셔너리로 변환 |
| set()             | 셋으로 변환 |

## 연산자

### 할당연산자

In [ ]:
x = 10

In [ ]:
id(x)

132204017336848

In [ ]:
x += 10
print(x)
id(x)

30

132204017337488

### 식별연산자

* 실무 빈도는 매우 낮으나 원리를 파악하기 위해서 간혹 사용하는 경우가 있음
* is, is not

In [ ]:
x = 10
y = x

x is y
# 실체(id)가 같은지 비교하는 것,-5 ~ 256까지 같음

True

### 맴버 연산

In [ ]:
x = [1, 2, 3, 4]

print(1 in x)
print(1 not in x)

True
False

## 연습문제

문제1 '12t34w12z34s23e16'에서 3보다 작은 수를 모두 더하는 코드를 작성해주세요.

문제2 '010.5044.2903'을 '5044-2903'으로 출력해주세요.

문제3 '192819283182'에서 중복된 숫자를 모두 제거하고 모든 숫자를 더해주세요.

문제4 1부터 10000까지 3의 배수와 5의 배수와 7의 배수를 모두 더해주세요.
       모두 만족하는 숫자는 한 번만 더해주어야 합니다.
       (함정) 더할 때 2로 나누어지는 숫자는 더하지 않습니다.

In [ ]:
# 문제 1.'12t34w12z34s23e16'에서 3보다 작은 수를 모두 더하는 코드를 작성해주세요.

s = '12t34w12z34s23e16'
result = 0
for i in s:
    if i.isdigit() and int(i) < 3:
        result += int(i)

print(result)

# 문제 1.'12t34w12z34s23e16'에서 3보다 작은 수를 모두 더하는 코드를 작성해주세요.

# for와 if가 하나씩 있을 때는 리스트 컴프리헨션을 사용함.

s = '12t34w12z34s23e16'
result = sum(int(i) for i in s if i.isdigit() and int(i) < 3)
print(result)

9
9

[]

In [ ]:
# 문제 2. '010.5044.2903'을 '5044-2903'으로 출력해주세요.

s = '010.5044.2903'
print(s.replace('.', '-')[4:])

# 문제 2. '010.5044.2903'을 '5044-2903'으로 출력해주세요.

s = '010.5044.2903'
result = '-'.join(s.split('.')[1:])
print(result)

s = '010.5044.2903'
result = s[s.index('.')+1:].replace('.', '-')

5044-2903
5044-2903

In [ ]:
# 문제 3. '192819283182'에서 중복된 숫자를 모두 제거하고 모든 숫자를 더해주세요.

s =  '192819283182'
lst = []
for i in s:
    if i.isdigit():
        lst.append(int(i))

print(sum(set(lst)))

# 문제 3. '192819283182'에서 중복된 숫자를 모두 제거하고 모든 숫자를 더해주세요.

s = '192819283182'
result = sum(set(map(int, s)))
print(result)


result = []
s= '192819283182'
for i in s:
    if int(i) not in result:
        result.append(int(i))

print(sum(result))

23
23
23

In [80]:
# 문제 4. 문제4 1부터 10000까지 3의 배수와 5의 배수와 7의 배수를 모두 더해주세요.
#       모두 만족하는 숫자는 한 번만 더해주어야 합니다.
#       (함정) 더할 때 2로 나누어지는 숫자는 더하지 않습니다.

result = 0
for i in range(1, 10001):
    if (i % 3 == 0 or i % 5 == 0 or i % 7 == 0) and i % 2 != 0:
        result += i

print(result)

result = 0
for i in range(1, 10001, 2):
    if i % 3 == 0 or i % 5 == 0 or i % 7 == 0:
        result += i

print(result)

13578585
13578585

## Python 동작 원리

* Cpython을 공부하면 좋은가? 성능에 영향이 크게 끼치는 대규 시스템 구축이라던지 시간에 민감한 SW를 개발한다면 Cpython을 공부해야 할 수도 있습니다. 필요성이 확고하게 인지되기 전까지는 공부를 미루시는 것을 권합니다. 이유는 공부할게 이것 말고도 많습니다. 그리고 이걸 공부한다고 Python실력이 느는 것은 아닙니다.

* 31초가 걸리는 작업을 30초로 줄여야 함.(배민 주문) -> 이런 작업을 하려면 python으로 하면 안됨.

* https://github.com/python/cpython 가 Python 공식홈페이지에서 다운로드 받는 파이썬입니다.

* jython은 JAVA로 구현된 파이썬입니다. 파이썬이 꼭 하나의 언어로만 개발이 된 것은 아닙니다.

* Python은 라인라인 별로 실행합니다. 그런데 C는 전체 파일을 컴파일해서 애러가 있으면 애초에 실행이 안되요. 그런데 Python 어떻게 라인라인 별로 실행이 되다가 중간에 애러가 날까요? Python도 C로 실행이 되는건데요?

* 동작방식
    1. Python 양식으로 만들어진 텍스트를 파싱합니다.
    2. 추상 구문 트리(AST)를 그립니다.
    3. 바이트코드로 변경을 합니다.
    4. 바이트 코드를 컴파일합니다.
    5. 파이썬 가상머신에서 컴파일 한 것을 한 줄씩 실행합니다.

## 시퀀스형 자료형

* list, tuple, dictionary, set

In [82]:
# list

l = [1, 2, 3, 4]

print(type(l))  # 컨테이너 자료형일 때, 알 수 있음
print(dir(l))   # 속성을 알 수 있음

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [84]:
# append: 요소 하나하나씩 추가할 때
# extend: 요소를 한번에 추가할 때
# copy(): 새로운 메모리 주소에 할당되는 객체를 만드는 것
# count, extend, index, insert, pop, remove, reserve
# sort: 정렬

In [86]:
l = [1, 2, 3, 4]
c = l.pop(0)    # 인덱스 번호 입력
print(c)

1

In [96]:
# sort: 정렬

s = [1, 3, 4, 8, 13, 17, 20]

sorted_s = sorted(s, key=lambda x: x % 5)
print(sorted_s)

# 또는 원본 리스트를 직접 정렬
s.sort(key=lambda x: x % 5)
print(s)

[20, 1, 17, 3, 8, 13, 4]
[20, 1, 17, 3, 8, 13, 4]

In [ ]:
# tuple: 값의 변화가 불가능, 하지만 튜플 안에 변경가능한 자료가 있는 경우 가능

# 튜플은 참조가 불변.

t = (1, 2, 3, 4)

In [97]:
# dict
d = {'one': 1, 'two': 2, 'three': 3}

d.items()   # 새로운 함수

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [98]:
# key 와 value를 고정시키기 위해 튜플을 안에 가둠

In [99]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a / b

d = [add, sub, mul, div]

d[0](10, 20)

30

In [100]:
def 요일변환(day):
    return {'mon': '월', 'tue': '화', 'wed': '수'}.get(day, '제대로 입력해야지!')

요일변환('mon')
요일변환('three')

'제대로 입력해야지!'

In [108]:
d = {"one": 1, "two": 2, "three": 3}
dd = {"one": 100, "two": 200, "four": 4, "five": 5}

print(d | dd)

{'one': 100, 'two': 200, 'three': 3, 'four': 4, 'five': 5}

In [109]:
# set

s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}

print(s | ss)
print(s - ss)
print(s & ss)

{1, 2, 3, 4, 5, 6}
{1, 2}
{3, 4}

## if 조건문

In [111]:
if True:
    print('hello')
else:
    print("world")

if False:
    print('hello')
elif False:
    print("hello")
else:
    print("world")

# 조건문이 많을 시 딕셔너리로 만들 생각해야 함

hello
world

## 반복문 for, while

In [119]:
for i, j in [[10, 20], [30, 40]]:
    print(i, j)

10 20
30 40

In [121]:
가수 = ['뉴진스', '아이유', '에스파', '트와이스']

for index, value in enumerate(가수, 1):
    print(index, value)

1 뉴진스
2 아이유
3 에스파
4 트와이스

In [122]:
가수 = ['뉴진스', '아이유', '에스파', '트와이스']
while 가수:
    print(f"{가수.pop()}가 최고야.")

트와이스가 최고야.
에스파가 최고야.
아이유가 최고야.
뉴진스가 최고야.

In [123]:
# for은 정해진 요소로 반복할 때, while은 조건에 따라 반복할 때 사용

In [124]:
# break: 바로 위에 반복문 1개 탈출함
# continue: 다음 루프로 넘어감
# pass: 공백을 채우기 위한 용도로 사용